@CHARSET "UTF-8";

html, body { background-color: #eee }
body { padding-top: 40px }
.container > footer p { text-align: center; }
.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 0 0 6px 6px;
	   -moz-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header { background-color: #f5f5f5; padding: 20px 20px 10px; margin: -20px -20px 20px }
.topbar .btn { border: 0 }

.topbar .label { padding: 2px 8px; margin-top: 8px; color: white; margin-left: 10px }

form div.checkbox {
	clear: both;
	margin-bottom: 10px;
	height: 20px;
}

form div.checkbox input { float: left; margin: 2px 10px 0 0 }
form div.checkbox label { display: inline; width: auto; line-height: 20px; padding: 0 }

table td.center { text-align: center }

a.red { color: red }

.left { float: left }
.right { float: right }
.actions a.right { margin: 8px 5px 0 0 }

#LessonDatetimeHour { margin-left: 10px }

body.login { padding-top: 100px }
body.login .container { max-width: 400px }
body.login .content { border-top: 1px solid #DDD }
body.login form { margin-bottom: 0 }
body.login fieldset { padding-top: 0 }
body.login label { margin: 0 0 10px 20px; text-align: left; font-size: 1.2em }
body.login .input { margin: 0 auto; width: 360px }
body.login .input input { font-size: 1.4em; padding: 5px 10px; height: 30px; width: 340px }
body.login .actions { margin: 30px -20px -20px; padding-left: 20px; padding-right: 20px; overflow: hidden }

table.zebra-striped th a { color: #404040 }
table.zebra-striped th a.asc,
table.zebra-striped th a.desc { padding-right: 18px; color: #0069d6 }
table.zebra-striped th a.asc { background: url('../../img/icons/arrow-up.png') right 1px no-repeat }
table.zebra-striped th a.desc { background: url('../../img/icons/arrow-down.png') right 1px no-repeat }