body.dashboard #topo li a.dashboard,body.perfil #topo li a.perfil,body.arquivos #topo li a.arquivos{background:#f08c94;color:#FFF;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
#topo .container_12{background:none;padding-bottom:10px;}
#topo .titulo{margin-top:0;margin-bottom:0;}
#topo h1 a{color:#333333;}
#topo .perfil{float:right;margin:40px 20px 0 0;color:#555;}#topo .perfil .avatar{vertical-align:middle;margin-top:-6px;padding:2px;margin-left:10px;}
#conteudo .gnomo-aponta{display:none;}
#conteudo h3{font-size:1.3em;margin:30px 0 20px;}
#conteudo .aulas{background:#b0d9ba;padding:15px 5px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;overflow:hidden;}#conteudo .aulas article{min-height:90px;}#conteudo .aulas article.grid_2{width:170px;}
#conteudo .aulas article:last-child{border-right:none;margin-right:0;padding-right:0;}
#conteudo .aulas article.futuro:first-child{background:rgba(255, 255, 255, 0.2);}
#conteudo .aulas article datetime{font-family:Delius, Ubuntu, cursive;background:#a6cfb0;padding:5px 0;font-size:1.1em;display:block;text-align:center;color:white;margin-bottom:8px;}
#conteudo .aulas article h4{margin:0 5px 3px;font-weight:bold;display:none;}
#conteudo .aulas article p{margin:0 10px 5px;color:#444;font-size:.9em;}
#conteudo .aulas article.passado{opacity:.5;}
#conteudo .arquivos article{width:430px;padding:15px 20px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;margin-bottom:20px;background-color:#b0d9ba;background-position:15px center;background-repeat:no-repeat;}#conteudo .arquivos article:nth-child(2n-1){margin-left:0;clear:left;}
#conteudo .arquivos article:nth-child(2n){margin-right:0;}
#conteudo .arquivos article h4,#conteudo .arquivos article p{margin-left:40px;}
#conteudo .arquivos article h4{font-size:1.2em;margin-bottom:5px;}
#conteudo .arquivos article h4 a{color:#333333;}
#conteudo .arquivos article p{color:#666;font-size:0.9em;}
#conteudo .arquivos article.file{background-image:url('../img/icons/mime/default.png');}
#conteudo .arquivos article.file-movie{background-image:url('../img/icons/mime/movie.png');}
#conteudo .arquivos article.file-wmv{background-image:url('../img/icons/mime/movie.png');}
#conteudo .arquivos article.file-avi{background-image:url('../img/icons/mime/movie.png');}
#conteudo .arquivos article.file-mp4{background-image:url('../img/icons/mime/mp4.png');}
#conteudo .arquivos article.file-pdf{background-image:url('../img/icons/mime/pdf.png');}
#conteudo .arquivos article.file-doc{background-image:url('../img/icons/mime/doc.png');}
#conteudo .arquivos article.file-txt{background-image:url('../img/icons/mime/txt.png');}
#conteudo .arquivos article.file-html{background-image:url('../img/icons/mime/html.png');}
#conteudo .arquivos article.file-php{background-image:url('../img/icons/mime/php.png');}
#conteudo .arquivos article.file-7z{background-image:url('../img/icons/mime/7zip.png');}
#conteudo .arquivos article.file-rar{background-image:url('../img/icons/mime/rar.png');}
#conteudo .arquivos article.file-zip{background-image:url('../img/icons/mime/zip.png');}
#conteudo .arquivos article.file-gz{background-image:url('../img/icons/mime/zip.png');}
#conteudo .arquivos article.file-exe{background-image:url('../img/icons/mime/exe.png');}
#conteudo .arquivos article.file-jpg{background-image:url('../img/icons/mime/jpg.png');}
#conteudo .arquivos article.file-png{background-image:url('../img/icons/mime/png.png');}
#rodape{display:none;}
